{% extends 'index.html.twig' %}

{% block content %}

<div class="container">
    <div class="row py-5">
        <div class="col">
            <H2>{{page.title}}</H2>
            {{page.body}}
        </div>
    </div>
</div>

{% endblock %}