{% extends 'index.html.twig' %}

{% block content %}

<div class="container">
    <div class="row py-5">
        <div class="col">
            <H2>Кто я</H2>
            <p>Всем привет и добро пожаловать в раздел обо мне! Меня зовут Елена Литвинова и я профессиональный
                веб-разработчик с опытом работы более 10 лет. 💪 За свой опыт я построила карьеру в 5+ компаниях:
                Яндекс, Artec3D, Astroshock и др. В настоящее время я живу и работаю в Лондоне. Также веду
                Youtube-канал, посвященный искусству веб-разработки.</p>
        </div>
        <div class="col">
            <H2>Навык</H2>
            <p>Самый важные навыки — это умение учиться и никогда не сдаваться. За все свои 10 лет практики не было ни
                одной задачи или проекта, с которыми я бы не справилась. Было много различных ситуаций и продуктов,
                иногда я даже не верила в возможность реализации. И только умение говорить любой задаче ДА, проходить
                через страх неизвестности и делать, привело меня к тому, что в веб-разработке для меня нет ничего
                невозможного!</p>
        </div>
        <div class="col">
            <div class="card">
                <iframe class="rounded-1" width="560" height="315" src="https://www.youtube.com/embed/FCVPgeh47PQ"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>


<div class="form-1-container">
    <div class="container">
        <div class="row py-5">
            <div class="col">
                <h2>Освоенный рубеж программиста</h2>
                <ul class="skills">
                    <li>HTML, Pug</li>
                    <li>CSS, Stylus, SCSS, Less</li>
                    <li>JavaScript, JS Animations</li>
                    <li>ReactJs, Redux</li>
                    <li>NodeJs, Express, Koa</li>
                    <li>PSQL, GraphQL</li>
                    <li>Webpack, Gulp</li>
                    <li>GitHub, CI</li>
                    <li>Unit, integration, end-to-end, backstop тесты</li>
                    <li>Nginx</li>
                    <li>Web Design</li>
                    <li>Figma</li>
                    <li>Procreate</li>
                    <li>Adobe Photoshop &amp; Illustrator</li>
                    <li>Digital Illustration</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="form-2-container">
    <div class="container">
        <div class="row py-5">
            <div class="col">
                <h2>Покорения новых вершин</h2>
            </div>
        </div>
    </div>
</div>

{% endblock %}