{% extends 'index.html.twig' %}

{% block content %}

	<div class="container pb-5 pt-5">
		<div class="row">
			<div class="col">
				<H2>Приветствую!</H2>
				<p>Всем привет и добро пожаловать! Меня зовут Евгений Среда и я программист или как принято теперь называть разработчик с опытом работы более 15 лет. В настоящее время я живу и работаю как full-stack
					                (PHP/JS/HTML/CSS/MySQL) программист в Литве. Также веду
					                Youtube-канал, посвященный искусству веб-разработки и разработке 3D графике.</p>

				<a href="{{ path('page', {'slug': 'who-am-i'}) }}" class="btn btn-primary">Узнать больше</a>
			</div>
			<div class="col">
				<div class="card">
					<iframe class="rounded-1" width="100%" height="315" src="https://www.youtube.com/embed/5GuQpFx7B4w" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>

	<div class="container pb-5 pt-5">
        <H2>Миссия</H2>
		<div class="row">
			<div class="col">Возобновляемая энергия (Станция aether)</div>
			<div class="col">Квадролёт #1</div>
			<div class="col">Оранжерея (Tellus)</div>
		</div>
	</div>

	<div class="container pb-5 pt-5">
		<div class="row" data-masonry="{&quot;percentPosition&quot;: true }">

			<div class="col-sm-6 col-lg-4 mb-4">
				<a href="{{ path('page', {'slug': 'art'}) }}">
					<div class="card p-3">
						<figure class="p-3 mb-0">
							<blockquote class="blockquote">
								<h4>Искусство</h4>
							</blockquote>
							<figcaption class="blockquote-footer mb-0 text-body-secondary">
								Someone famous in
								<cite title="Source Title">Source Title</cite>
							</figcaption>
						</figure>
					</div>
				</a>
			</div>

			<div class="col-sm-6 col-lg-4 mb-4">
				<div class="card p-3">
					<figure class="p-3 mb-0">
						<blockquote class="blockquote">
							<h4>Электроника</h4>
						</blockquote>
						<figcaption class="blockquote-footer mb-0 text-body-secondary">
							Someone famous in
							<cite title="Source Title">Source Title</cite>
						</figcaption>
					</figure>
				</div>
			</div>

			<div class="col-sm-6 col-lg-4 mb-4">
				<a href="{{ path('page', {'slug': 'programming'}) }}">
					<div class="card p-3">
						<figure class="p-3 mb-0">
							<blockquote class="blockquote">
								<h4>Программирование</h4>
							</blockquote>
							<figcaption class="blockquote-footer mb-0 text-body-secondary">
								Someone famous in
								<cite title="Source Title">Source Title</cite>
							</figcaption>
						</figure>
					</div>
				</a>
			</div>

			<div class="col-sm-6 col-lg-4 mb-4">
				<div class="card p-3">
					<figure class="p-3 mb-0">
						<blockquote class="blockquote">
							<h4>Инженерия</h4>
						</blockquote>
						<figcaption class="blockquote-footer mb-0 text-body-secondary">
							Someone famous in
							<cite title="Source Title">Source Title</cite>
						</figcaption>
					</figure>
				</div>
			</div>

			<div class="col-sm-6 col-lg-4 mb-4">
				<div class="card p-3">
					<figure class="p-3 mb-0">
						<blockquote class="blockquote">
							<h4>Активность</h4>
						</blockquote>
						<figcaption class="blockquote-footer mb-0 text-body-secondary">
							Someone famous in
							<cite title="Source Title">Source Title</cite>
						</figcaption>
					</figure>
				</div>
			</div>

			<div class="col-sm-6 col-lg-4 mb-4">
				<div class="card p-3">
					<figure class="p-3 mb-0">
						<blockquote class="blockquote">
							<h4>Наука</h4>
						</blockquote>
						<figcaption class="blockquote-footer mb-0 text-body-secondary">
							Someone famous in
							<cite title="Source Title">Source Title</cite>
						</figcaption>
					</figure>
				</div>
			</div>

		</div>
	</div>

	<div class="form-1-container">
		<div class="container pb-5 pt-5">

			<div class="col">
				<h2>Покорённый рубеж</h2>
				<ul class="skills">
					<li class="btc3d-html">HTML</li>
					<li class="btc3d-css">CSS, Stylus, SCSS, Less</li>
					<li class="btc3d-js">JavaScript, JS Animations</li>
					<li class="btc3d-reactjs">ReactJs, Redux</li>
					<li>NodeJs, Express, Koa</li>
					<li>PSQL, GraphQL</li>
					<li>Webpack, Gulp</li>
					<li>GitHub, CI</li>
					<li>Unit, integration, end-to-end, backstop тесты</li>
					<li>Nginx</li>
					<li>Web Design</li>
					<li>Figma</li>
					<li>Procreate</li>
					<li>Adobe Photoshop &amp; Illustrator</li>
					<li>Digital Illustration</li>
				</ul>
			</div>

		</div>
	</div>

	<div class="form-2-container">
		<div class="container pb-5">
			<div class="col">
				<h2>Ближайшие цели</h2>
				<p>Никто не знает ,что для человека приготовило завтро но всеже стараюсь планировать не только на ближайший дни, месяца ,а на годы вперед</p>
			</div>
		</div>
	</div>


{% endblock %}
