{% extends 'index.html.twig' %}

{% block content %}

<div class="container">
    <div class="row py-5">
        <div class="col">
            <h2>Кто я</h2>
        </div>
        <div class="col">
            <H2>Навык</H2>
            <p>PHP, HTML</p>
        </div>
        <div class="col">
            <H2>Приветствую</H2>
        </div>
    </div>
</div>

<div class="form-container">
    <div class="container">
        <div class="row py-5">
            <div class="col">
                <h2>Свяжись со мной</h2>
            </div>
            <div class="col">
                Form
            </div>
        </div>
    </div>
</div>

{% endblock %}