{% extends 'index.html.twig' %}

{% block content %}

	<div class="container">
		<div class="row">
			<div class="col">

				<div class="sub-content">
					<div class="sub-sidebar d-flex flex-column flex-shrink-0">
						<div class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary">
							<a href="/" class="text-decoration-none">
								<span class="fs-3">OpenGL под Windows</span>
							</a>
							<hr>
							<ul class="nav nav-pills flex-column mb-auto">
								<li class="nav-item">
									<a href="#" class="nav-link active" aria-current="page">
										1. Окно
									</a>
								</li>
								<li>
									<a href="#" class="nav-link link-body-emphasis">
										2. Куб
									</a>
								</li>
								<li>
									<a href="#" class="nav-link link-body-emphasis">
										3. Текстура
									</a>
								</li>
								<li>
									<a href="#" class="nav-link link-body-emphasis">
										4. Освещение
									</a>
								</li>
								<li>
									<a href="#" class="nav-link link-body-emphasis">
										5. Загрузка модели
									</a>
								</li>
								<li>
									<a href="#" class="nav-link link-body-emphasis">
										6. Текстура
									</a>
								</li>
								<li>
									<a href="#" class="nav-link link-body-emphasis">
										7. Анимация
									</a>
								</li>
								<li>
									<a href="#" class="nav-link link-body-emphasis">
										7. Скелетная анимация
									</a>
								</li>
							</ul>
						</div>
					</div>

					<div class="sub-main " d-flex flex-column">
						{# <H2>{{page.title}}</H2> #}
						{{page.body}}
					</div>
				</div>

			</div>
		</div>
	</div>

{% endblock %}
