{% extends 'index.html.twig' %}

{% block content %}

<div class="container">
    <div class="row py-5">
        <div class="col">
            <H1>Кто я</H1>
            <p>Всем привет и добро пожаловать в раздел обо мне! Меня зовут Елена Литвинова и я профессиональный
                веб-разработчик с опытом работы более 10 лет. 💪 За свой опыт я построила карьеру в 5+ компаниях:
                Яндекс, Artec3D, Astroshock и др. В настоящее время я живу и работаю в Лондоне. Также веду
                Youtube-канал, посвященный искусству веб-разработки.</p>
        </div>
        <div class="col">
            <H2>Навык</H2>
            <ul class="skills">
                <li>HTML, Pug</li>
                <li>CSS, Stylus, SCSS, Less</li>
                <li>JavaScript, JS Animations</li>
                <li>ReactJs, Redux</li>
                <li>NodeJs, Express, Koa</li>
                <li>PSQL, GraphQL</li>
                <li>Webpack, Gulp</li>
                <li>GitHub, CI</li>
                <li>Unit, integration, end-to-end, backstop тесты</li>
                <li>Nginx</li>
                <li>Web Design</li>
                <li>Figma</li>
                <li>Procreate</li>
                <li>Adobe Photoshop &amp; Illustrator</li>
                <li>Digital Illustration</li>
            </ul>
        </div>
        <div class="col">
            <div class="card">
                <iframe class="rounded-1" width="560" height="315" src="https://www.youtube.com/embed/FCVPgeh47PQ"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>

<div class="form-container">
    <div class="container">
        <div class="row py-5">
            <div class="col">
                <h2>Свяжись со мной</h2>
            </div>
            <div class="col">
                Form
            </div>
        </div>
    </div>
</div>

{% endblock %}