// // all used colors 
// $background_color: #b5e9dc;

// // Text color light
// $text_color_light: #ffffff;

// // Footer, head background
// $primary: #050A30;

// // Form 1 background 
// $ocean: #1f546d;

// // Form 2 background 
// $spring: #001f25;

// // Secondary button background 
// $middle_spring: #c23a3e;

// $middle_spring_hover: #d8454a;
// $middle_spring_shadown_btn_bottom: #b43236;
// $middle_spring_shadown_btn_right: #ac3337;

// // Information button background 
// $summer: #a6a5ae;

// ----------------------------------------------------------

// all used colors 
$background_color: #f8f8f8;

// Text color light
$text_color_light: #ffffff;

// Footer, head background
$primary: #050A30;

// Form 1 background 
$ocean: #000C66;

// Form 2 background 
$spring: #0000FF;

// Secondary button background 
$middle_spring: #7EC8E3;

$middle_spring_hover: #8ad7f3;
$middle_spring_shadown_btn_bottom: #57b0d1;
$middle_spring_shadown_btn_right: #66bedf;

// Information button background 
$summer: #7EC8E3;

.btn {
    --bs-btn-border-width: 0px !important;
    --bs-btn-font-size: 18px !important;
    --bs-btn-focus-shadow-rgb: 126, 200, 227 !important;
    --bs-btn-padding-x: 15px !important;
    --bs-btn-padding-y: 6px !important;
    --bs-btn-font-weight: 500 !important;
}

.btn-primary {
    --bs-btn-bg: #{$middle_spring} !important;
    --bs-btn-hover-bg: #{$middle_spring_hover} !important;
    --bs-btn-active-bg: #{$middle_spring} !important;
    --bs-btn-border-color: #{$middle_spring_hover} !important;
    //--bs-btn-focus-shadow-rgb: #{$middle_spring_hover} !important;
    border-bottom: 1px solid $middle_spring_shadown_btn_bottom  !important;
    border-right: 1px solid $middle_spring_shadown_btn_right  !important;
}

H1,
H2,
H3,
H4,
H5 {
    text-transform: uppercase;
}

body {
    background-color: $background_color !important;
    margin: 0;
}

.navbar-nav {
    --bs-nav-link-color: #{$primary} !important;
    --bs-navbar-hover-color: #{$middle_spring_hover} !important;
}

header {
    background: $text_color_light;
    box-shadow: 0 1px 10px rgb(0 0 0 / 15%), inset 0 -1px 0 rgb(0 0 0 / 15%) !important;
    
    ul {
        display: inline;

        li {
            display: inline;
            font-weight: 600!important;

            a {
                color: #d2d2e3;
                font-size: 16px !important;
                font-family: Arial, Helvetica, sans-serif;
                text-decoration: none;
            }
        }
    }
}

footer {
    background: $ocean;

    p {
        color: $text_color_light;
        opacity: 0.5;
    }
}

.form-1-container,
.form-2-container {
    background: $ocean;

    H2,
    H3,
    H4,
    H5 {
        color: $text_color_light;
    }
}

.form-2-container {
    background: $ocean;
}

.skills {
    list-style: none;
    margin: 0;
    font-size: 16px;
    display: flex;
    flex-wrap: wrap;
    padding: 0;

    li {
        background: $summer;
        padding: 0 10px;
        border-radius: 5px;
        line-height: 25px;
        margin: 4px 5px;
    }
}