// // all used colors 
// $background_color: #f8f8f8;

// // Text color light
// $text_color_light: #ffffff;

// // Footer, head background
// $primary: #050A30;

// // Form 1 background 
// $ocean: #000C66;

// // Form 2 background 
// $spring: #0000FF;

// // Secondary button background 
// $middle_spring: #a7e237;

// // Information button background 
// $summer: #7EC8E3;

// all used colors 
$background_color: #f8f8f8;

// Text color light
$text_color_light: #ffffff;

// Footer, head background
$primary: #0457ac;

// Form 1 background 
$ocean: #308fac;

// Form 2 background 
$spring: #37bd79;

// Secondary button background 
$middle_spring: #a7e237;

// Information button background 
$summer: #f4e604;

H1, H2, H3, H4, H5{
    text-transform: uppercase;
}

body {
    background-color: $background_color!important;
    margin:0;
}

header{
    max-height: 50px;
    padding: 5px 0;
    background: $primary;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%), inset 0 -1px 0 rgb(0 0 0 / 15%)!important;

    ul{
        display: inline;
        li{
            display: inline;
            a{
                color: #d2d2e3;
                font-size: 16px!important;
                font-family:Arial, Helvetica, sans-serif;
                text-decoration: none;
                line-height: 45px;
                padding: 0 14px;
            }
        }
    }
}

footer{
    background: $primary;

    p{
        color:$text_color_light;
        opacity: 0.5;
    }
}

.form-1-container, .form-2-container{
    background: $ocean;

    H2, H3, H4, H5{
        color: $text_color_light;
    }
}

.form-2-container{
    background: $spring;
}

.skills{
    list-style: none;
    margin: 0;
    font-size: 16px;
    display: flex;
    flex-wrap: wrap;
    padding: 0;

    li{
        background: $summer;
        padding: 0 10px;
        border-radius: 5px;
        line-height: 25px;
        margin:4px 5px;
    }
}